@using Entities
@using Bussines

@inject NavigationManager NavManger

    <EditForm Model="oCategory">
        <div class="form-group">
            <label>Id Categoría : </label>
            <InputText class="form-control" @bind-Value="oCategory.CategoryId"></InputText>
        </div>
        <div class="form-group">
            <label>Nombre Categoría : </label>
            <InputText class="form-control" @bind-Value="oCategory.CategotyName"></InputText>
        </div>
        <input type="button" value="Agregar Categoría" @onclick="CreateCategory" class="btn btn-primary" />
    </EditForm>


@code {
    CategoryEntity oCategory = new CategoryEntity();

    private void CreateCategory()
    {
        B_Category.CreateItem(oCategory);
        NavManger.NavigateTo("category/list");
    }
}
